#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_climacoind += debian/examples/*
DEB_INSTALL_MANPAGES_climacoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix climacoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f climacoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake climacoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_climacoin
	src/test_climacoin

# Ensure wrapper is set executable
binary-post-install/climacoind:
	chmod +x $(cdbs_curdestdir)usr/bin/climacoind
binary-post-install/climacoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/climacoin-qt
